<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>增量塔</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/break_eternity.js@2.0.0/dist/break_eternity.min.js"></script>

  <link rel="stylesheet" href="style/main.css">
  <link rel="stylesheet" href="style/subpage1.css">
</head>

<body>
  <div id="app" class="container">
    <div class="top">
      <div class="top-label">top-label
      </div>
      <div class="top-buttonGroup">
        <button class="top-button" @click="switchTab('subpage1')">subpage1</button>
        <button class="top-button" @click="switchTab('options')">options</button>
      </div>
    </div>
    <div v-if="currentTab==='subpage1'" class="subpage1-bottom">
      <div class="subpage1-left">
        <div class="subpage1-left-top">左上</div>
        <div class="subpage1-left-middle">左中</div>
        <div class="subpage1-left-bottom">左下</div>
      </div>
      <div class="subpage1-right">
        <div class="subpage1-right-top">右上</div>
        <div class="subpage1-right-bottom">右下</div>
      </div>
    </div>
    <div v-if="currentTab==='options'">
      test
    </div>
  </div>

  <script src="JS/initialization.js"></script>
  <script src="JS/save.js"></script>
  <script src="JS/main.js"></script>
</body>

</html>