.container {
    display: flex;
    flex-direction: column;
    height: 570px;
    max-width: 809px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.25);
    background: white;
    text-align: center;
    gap: 10px;
}

.top {}

.top-label {
    font-size: 150%;
    height: 40px;
}

.top-buttonGroup {
    display: flex;
    height: 30px;
    border-top: 2px solid black;
    box-sizing: border-box;
    justify-content: center;
    gap: 10px;
}

.top-button {
    margin-top: -2px;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid black;
}